.hero_image {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://cdn.pixabay.com/index/2020/12/21/16-21-22-866_1440x480.jpg);
  background-size: cover;
  background-position: top;
}
.hero_content {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
