button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  background-color: #ea2c62;
  transition: all 0.4s;
}

button:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}
