.image_container {
  position: relative;
  transition: all 0.4s ease-in-out;
  transform: scale(0.98);
}
/* .img {
  transform: scale(0.98);
  transition: all 0.4s ease-in-out;
}

.img:hover {
  transform: scale(1.05);
} */
.image_container:hover {
  transform: scale(1.05);
}

.image_info {
  /* transform: scale(o.98); */
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.09),
    rgba(0, 0, 0, 0.8)
  );
  height: 0;
  align-items: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}

.image_container:hover .image_info {
  /* transform: scale(1.05); */
  font-size: 0.8rem;
  opacity: 1;
  height: 40px;
  color: white;
}
